
.vs/TODOList/v16/.suo
.vs/TODOList/v16/.suo
.vs/TODOList/v16/.suo
*.dll
*.dll
*.dll
*.cache
*.pdb
*.dll
TODOList/obj/Debug/netcoreapp3.1/TODOList.csprojAssemblyReference.cache
TODOList/obj/Debug/netcoreapp3.1/TODOList.csproj.FileListAbsolute.txt
TODOList/obj/Debug/netcoreapp3.1/TODOList.csproj.CoreCompileInputs.cache
*.cache
*.txt
*.json
*.cache
TODOList/obj/project.assets.json
*.pdb
*.dll
*.cache
*.json
*.dll
*.pdb
TODOList/bin/Debug/netcoreapp3.1/TODOList.deps.json
.vs/TODOList/v16/.suo
*.json
.vs/TODOList/v16/.suo
TODOList/bin/Debug/netcoreapp3.1/TODOList.deps.json
*.dll
*.json
*.cache
*.txt
*.cache
TODOList/bin/Debug/netcoreapp3.1/appsettings.Development.json
TODOList/bin/Debug/netcoreapp3.1/appsettings.json
TODOList/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
*.dll
*.dll
.vs/TODOList/v16/.suo
TODOList/bin/Debug/netcoreapp3.1/TODOList.deps.json
*.json
